# Java / Spring Boot
backend/target/
*.class
*.jar
*.war

# React / Node
frontend/node_modules/
frontend/build/
frontend/dist/
.env
.env.local

# IDE
.idea/
.vscode/
*.iml
.DS_Store
smart-campus-client/node_modules/@rolldown/binding-win32-x64-msvc/rolldown-binding.win32-x64-msvc.node
